<!DOCTYPE html>
<html>
  <head>
    <title>CU-BB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%# 用户已登录： "Home" 链接指向应用主页 %>
          <%= link_to 'CU-BB (Home)', authenticated_root_path %>
          <span>Welcome, <%= current_user.email %></span>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%# 用户未登录： "Home" 链接指向登录页本身 %>
          <%= link_to 'CU-BB (Login)', unauthenticated_root_path %>
          <%= link_to 'Register', new_user_registration_path %>
          <%# 我们已经在登录页了，所以不需要 "Login" 链接 %>
        <% end %>
      </nav>
    </header>

    <main>
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
      
      <%= yield %>
    </main>
  </body>
</html>